name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Install dependencies and build
        run: |
          sudo apt-get install -y libxml2-dev libxslt1-dev libjpeg-dev libfreetype6-dev
          python3 -m pip install -U uv pillow
          python3 -m uv run mkdocs build --strict
